<h1>All tasks</h1>
<% @tasks.each do |task| %>
  <p> <%= check_box("completed", task.completed, {checked: task.completed}) %>
    <%= link_to task.title, task_path(task) %>
  </p>
<% end %>
<p><%= link_to '🌈 Add a new task', tasks_new_path %></p>


